@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 700px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.header {
    display: inline-flex;
    margin-bottom: 84px;
}

.logo__header {
    display: inline-flex;
    margin-top: 40px;
    margin-left: 375px;
    margin-right: 500px;
}

.logo__icon {
    margin-right: 14px;
}

.text__logo {
    margin-top: 5px;
    display: flex;
}

.text__logo__grow {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__logo__be {
    color: #F25822;
    font-family: "Gilroy-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu {
    height: 17px;
    width: 533px;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;

}

.header__menu__giper {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__mod {
    color: #F25822;
    font-family: "Gilroy-Semibold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu__block {
    height: 17px;
    display: inline-flex;
    gap: 2px;
}

.header__menu__image {
    width: 8px;
    height: 17px;
    display: flex;
    align-items: center;
    margin-top: 1px;
}

.main {
    margin-left: 373px;
    margin-bottom: 162px;
    display: inline-flex;
    
}

.main__context {
    margin-right: 40.94px;
}

.main__context__h1 {
    width: 522px;
    height: 222px;
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.main__context__text {
    width: 466px;
    height: 48px;
    margin-bottom: 37px;
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__context__watch {
    display: inline-flex;
    gap: 72px;
}

.main__content__btn {
    margin-left: 2px;
    margin-right: 48px;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.main__content__btn__block {
    width: 69px;
    height: 19px;
    margin-top: 15px;
    margin-left: 35px;
}

.main__context__watch__start_now {
    color: #FFF;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.main__content__btn__Watch {
    width: 90px;
    height: 19px;
    margin-top: 15px;
}

.main__context__watch__text {
    width: 466px;
    height: 48px;
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 
.footer {
    padding-left: 345px;
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    gap: 48px;
}